.home-tut{
    flex-direction: column;
    height: 100%;
    flex-basis: 350px;
}

.scroll-topics{
    height: 400px;
    overflow: auto;
}

.boxfooter{
    margin-top: auto;
    margin-left: auto;
}
