{% extends "layout.html" %}

{% block title %} Home {% endblock title %}

{% block content %}


<div class="columns">
    <div class="column is-one-fifth">
        
        <form action="#" method="POST">
            <div class="field">
                <label class="label">Required Skill</label>
                <div class="control">
                    <div class="select">
                    <select name="skill">
                        <option value="Any" {%if skill==Any %}selected{%endif%}>Any</option>
                        <option value="Beginner" {%if skill=="Beginner" %}selected{%endif%}>Beginner</option>
                        <option value="Intermediate" {%if skill=="Intermediate" %}selected{%endif%}>Intermediate</option>
                        <option value="Experienced "{%if skill=="Experienced" %}selected{%endif%}>Experienced</option>
                    
                    </select>
                </div>
            </div>
        </div>


            <div class="field">
                <div class="label">Platform</div>
                <div class="control">
                    <div class="select">
                    <select name="platform">
                        <option value="Any" {%if platform=="Any" %}selected{%endif%}>Any</option>
                        <option value="Youtube" {%if platform=="Youtube" %}selected = "selected"{%endif%}>Youtube</option>
                        <option value="Coursera" {%if platform=="Coursera" %}selected{%endif%}>Coursera</option>
                        <option value="Other" {%if platform=="Other" %}selected{%endif%}>Other</option>

                    </select>
                </div>
                </div>
            </div>

            <div class="field">
                <div class="label">Sort by</div>
                <div class="control">
                    <div class="select">
                    <select name="sortby">
                        <option value="default" {%if sortby=="default" %}selected{%endif%}>Default</option>
                        <option value="ratingdec" {%if sortby=="ratingdec" %}selected{%endif%}>Rating(Decreasing)</option>
                        <option value="ratinginc" {%if sortby=="ratinginc" %}selected{%endif%}>Rating(Increasing)</option>
                        <option value="lengthinc" {%if sortby=="lengthinc" %}selected{%endif%}>Length(Increasing)</option>
                        <option value="lengthdec" {%if sortby=="lengthdec" %}selected{%endif%}>Length(Decreasing)</option>
                    </select>
                </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary is-small">Filter</button>
                </div>
            </div>
        </form>
    </div>

    <div class="column">
        
        <div class="columns is-multiline">

            {% for tutorial in tutorials %}

            <div class="column is-one-third is-flex">
                <a class="is-flex box home-tut" href="{{ url_for('tutorial', tutorialid = tutorial[0]) }}">
                    <div class="content">
                        <p><strong>{{ tutorial[1].title }}</strong></p>

                        <p>{{ tutorial[1].skill }}</p>
                        <p><strong>Length: </strong>
                            {% if tutorial[1].length[0] != 0 %}
                            {{tutorial[1].length[0]}} hours
                            {% endif %}

                            {% if tutorial[1].length[1] != 0 %}
                            {{tutorial[1].length[1]}} minutes
                            {% endif %}
                        </p>


                    </div>
                    <div class="boxfooter">
                        
                        <span class="tag is-info is-light">
                            <span class="icon has-text-warning">
                                <i class="fas fa-star"></i>
                            </span>
                            {% if tutorial[1].tutorialRating %} {{ tutorial[1].tutorialRating }} {% else %} - {% endif
                            %}
                        </span>
                        <span class=" tag is-danger ">{{ tutorial[1].platform }}</span>
                    
                    </div>
                </a>
            </div>
            {% endfor %}





        </div>

    </div>
</div>


{% endblock content %}

